@*@model TIS.Models.Users*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    @*<meta name="viewport" http-equiv="X-UA-Compatible" content="IE=Edge" />*@
    <title>Analyse</title>
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*@
    <link href="~/css/css2.css" rel="stylesheet" />

    @*<script src="../../Scripts/jquery-1.11.1.min.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>


    <script src="../../Scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxcore.js" type="text/javascript"></script>
    @*<script src="../../jqwidgets/jqxcore.js"></script>
        <script src="../../jqwidgets/jqxdraw.js"></script>
        <script src="../../jqwidgets/jqxchart.core.js"></script>
        <script src="../../Scripts/demos.js"></script>*@
    <script src="~/Scripts/sweetalert2@11.js"></script>
    <script src="../../Scripts/jqxbuttons.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxcalendar.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxdatetimeinput.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxdropdownbutton.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxcheckbox.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxmenu.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxlistbox.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxdropdownlist.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxtabs.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxscrollbar.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.selection.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.filter.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.columnsresize.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.pager.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxdata.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.edit.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxgrid.sort.js" type="text/javascript"></script>
    <script src="../../Scripts/jsrender.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jqxtooltip.js"></script>

    <link href="../../Content/jqx.base.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jqx.ui-redmond.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jqx.dark-blue.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jqx.energyblue.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/mycss.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jqxwindow.js" type="text/javascript"></script>
    <script src="../../Scripts/sweetalert.min.js" type="text/javascript"></script>
    <link href="../../css/sweetalert.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/notify.js" type="text/javascript"></script>
    <script src="../../Scripts/pgwmodal.js" type="text/javascript"></script>
    <script src="../../Scripts/pgwmodal.min.js" type="text/javascript"></script>

    <link href="../../css/pgwmodal.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jqxdata.export.js"></script>
    <script src="../../Scripts/jqxgrid.export.js"></script>
    <link href="../../css/alert.css" rel="stylesheet" />
    <link href="../../css/theme.css" rel="stylesheet" />
    <script src="../../Scripts/alert.js"></script>
    @*<link href="../../css/new-style.css" rel="stylesheet" />*@ 
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/MainJs/Index.js"></script>
</head>
<body class="new-style">
    @* Hidden fields exposing server-side ViewBag values for MainJs/Index.js *@
    <input type="hidden" id="hdnUID" value="@ViewBag.UID" />
    <input type="hidden" id="hdnAdminRoleId" value="@ViewBag.AdminRoleId" />
    <input type="hidden" id="hdnRoleId" value="@ViewBag.Roleid" />
    <input type="hidden" id="hdnAction" value="@ViewBag.action" />

    <div class="container-fluid m-0 p-0">
        <header class="header">
            <div class="header-content">
                <div class="logo">
                    <img src="..\..\images\logo.png " alt="Company Logo">
                </div>

                <div class="nav-container">
                    <nav class="nav-menu">
                        <h2><span class="h2-text">Telecom</span> Invoicing System</h2>
                    </nav>
                </div>

                <div class="a-header-right">
                    <p class="a-Welcome-text">
                        Welcome,
                        @*@Model.name*@
                        @ViewBag.name
                    </p>
                    <button id="btnAdmin" class="admin-button"> <span>Admin</span></button>
                </div>
            </div>
        </header>
    </div>

    <div class="a-new-container">
        <div class="a-new-card">
            <div id='jqxTabs' "">
                <ul class="a-tab-header">
                    <li class="clsTabRecordCount">
                        <div class="clsTabRecordCount">
                            <label id="lblPendingIdentificationCnt"></label>
                        </div>
                        Pending Identification
                    </li>
                    <li id="liPendingApproval">
                        <div class="clsTabRecordCount">
                            <label id="lblPendingApprovalCnt"></label>
                        </div>
                        Pending Approval
                    </li>
                    <li>
                        <div class="clsTabRecordCount">
                            <label id="lblBillsHistoryCnt"></label>
                        </div>
                        Bills History
                    </li>
                    @if (ViewBag.RoleId == "6")
                    {
                        <li>
                            <div class="clsTabRecordCount">
                                <label id="lblBillsDepartmentCnt"></label>
                            </div>
                            Department Bills
                        </li>
                    }
                    <li id="DataRoamingTab">Data Roaming Partner</li>
                </ul>
                <div class="a-CurrentBills" id="CurrentBills" style="margin: 1.5em;">
                    <div style='float: left;' id="dropDownButton">
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <input id="hidDID" type="hidden" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Delegate To
                                    </td>
                                    <td>
                                        <div id="btnmanager">
                                            <div id="grdManager">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Start Date<input type="hidden" id="hidManager" />
                                    </td>
                                    <td>
                                        <div id='StartInput'>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        End Date
                                    </td>
                                    <td>
                                        <div id='EndInput'>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id='chkIdt' />Identify Bill
                                    </td>
                                    <td>
                                        <input type="checkbox" id='chkApp' />Approve Bill
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2'>
                                        <input type='button' id="btnAdd" value='Add' />
                                    </td>
                                    <td colspan='2'>
                                        <input type='button' id="btnUpdate" value='Update' />
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <div id="grdDelegate">
                            </div>
                        </div>
                    </div>

                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" id='chkMyBillsOnly' />
                            </td>
                            <td id='aa'>
                                My Bills only
                            </td>
                        </tr>
                    </table>
                    <div id="grdBillMaster">
                    </div>
                    <div id='billDetails' style='display: none;'>
                        <div class="d-flex justify-content-between align-items-center mt-15">
                            <h1 class="h1-title">Bill Details</h1>
                            <div class="d-flex">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id='chkLiveTag' />
                                    <label class="ml-6"> Live Tag</label>
                                </div>
                            </div>
                        </div>
                        <div class="a-info-card" id='something' style="z-index:1 !important;">
                            <div class="d-flex justify-content-between align-items-center">
                                <ul class="d-flex">
                                    <li id='a1TD'>
                                        <label> Allowance Limit</label>
                                        <div id='alimit'></div>
                                    </li>
                                    <li id='a2TD'>
                                        <label> Allowance Charges </label>
                                        <div id='alwCharge'></div>
                                    </li>
                                    <li id='a3TD'>
                                        <label> Allowance Deduction</label>
                                        <div id='atot' class="font-weight-bold"></div>
                                    </li>
                                </ul>
                                <ul class="d-flex">
                                    <li>
                                        <label> Business Limit </label>
                                        <div id='blimit'></div>
                                    </li>
                                    <li>
                                        <label> Business Charges</label>
                                        <div id='busCharge'></div>
                                    </li>
                                    <li>
                                        <label> Business Deduction</label>
                                        <div id='btot' class="font-weight-bold"></div>
                                    </li>
                                </ul>
                                <ul class="d-flex">
                                    <li id='p1TD'>
                                        <label> Personal Limit </label>
                                        <div id='plimit'></div>
                                    </li>
                                    <li id='p2TD'>
                                        <label> Personal Charge</label>
                                        <div id='perCharge'></div>
                                    </li>
                                    <li>
                                        <label> Personal Deduction </label>
                                        <div>
                                            <div id='ptot' class="font-weight-bold"></div>
                                        </div>
                                    </li>

                                </ul>

                                <div class="d-flex justify-content-end align-items-center">
                                    <span class="mr-15" style="font-weight: bold; font-size:14pt">
                                        Net Deductable Amount:
                                    </span>
                                    <div id='nettotal' style="font-weight: bold;font-size:16pt; color: #ff0000;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="a-new-grid" id="grdBillDetails">
                        </div>
                        <div class="mt-15 radius-12 p-12 d-flex align-items-center justify-content-center bg-light" style="gap:2rem;">
                            <div class="d-flex align-items-cente mt-15 mb-15">
                                <div class="d-flex align-items-center">
                                    <label class="mr-15">Select All Call Type</label>
                                    <select class="form-select" style="width:210px;" id='cmbChangeOpt'>
                                        <option value="0">Unindentified</option>
                                        <option value="1">All</option>
                                    </select>
                                </div>
                                <div class="d-flex align-items-center ml-15">
                                    <label class="mr-15">As</label>
                                    <select class="form-select" style="width:210px;" id='myCallType'>
                                        <option>Select</option>
                                        <option value="1">Business</option>
                                        <option value="2">Personal</option>
                                    </select>
                                </div>

                                <div class="ml-15">
                                    <button class="save-button" id="btnSave" type="button">
                                        <i class="fa-solid fa-floppy-disk"></i>
                                        <span>Save</span>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" id="hdnBillID" value="0" />

                            <input id="btnPrint" type="button" value='Print Bill' class="button" />
                            <span id='txtManagerName' style="display:none;"></span>

                            <div id="btnProcess" class="button clsBtnProcessBill">
                                <div>Process Bill</div>
                            </div>

                        </div>

                        <div id="WindowContact">
                            <div>
                                <b>Save Contact</b>
                            </div>
                            <div>
                                <div style="padding-top: 20px; display: table; margin: 0 auto;">
                                    Enter Name:
                                    <input id="txtContactName" type="text" />
                                </div>
                                <div style="padding-top: 10px; display: table; margin: 0 auto;">
                                    <input id="btnDone" type="button" value="Done" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="Approve Bills">
                    <div style="width: 100%" id="window">
                        <div id="windowHeader">
                            Call Details
                        </div>
                        <div style="width: 100%" id="windowContent">
                            <div id='grdApprDet'>
                            </div>
                        </div>
                    </div>
                    <div id='grdApprBills' class="mb-15">
                    </div>

                    <div class="d-flex justify-content-end align-items-center mb-15">
                        <button id="btnApproveSelected" class="a-btn a-btn-success d-flex align-items-center" type='button'>
                            <img class="icon" src="../../images/approve.svg" alt="">
                            <span>Approve Selected Bills</span>
                        </button>
                        <button id="btnRejectSelected" type='button' class="a-btn a-btn-danger ml-15 d-flex align-items-center">
                            <img class="icon" src="../../images/close.svg" alt="">
                            <span>Reject Selected Bills</span>
                        </button>
                    </div>
                </div>
                <div id="ArchivedBills">
                    <div id="grdArcBills">
                    </div>
                </div>
                @if (ViewBag.RoleId == "6")
                {
                    <div id="DepartmentBills">
                        <div id="grdDepartmentBills">
                        </div>
                    </div>
                }
                <div id="DataRoaming">
                    <div align="center" id="DataRoamingContent">
                        <h1>Data Roaming Partners List</h1>
                    </div>
                    <div class="myButton1" id="DataRoaming2">
                        <table align="center">
                            <tr>
                                <td>
                                    <input type="hidden" id="hidID" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">
                                    Country Name:
                                </td>
                                <td>
                                    <input id="txtCountryName" type="text" />
                                </td>
                                <td style="width: 40px"></td>
                                <td style="text-align: right">
                                    Operator:
                                </td>
                                <td>
                                    <input id="txtOperator" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 10px"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td valign="middle" height="70px" align="right" colspan="4">
                                    <input id="btnAddDataRoaming" type="button" value="Add" class="myButton" />
                                    <input id="btnUpdateDataRoaming" type="button" value="Update" class="myButton" />
                                    <input id="btnDeleteDataRoaming" type="button" value="Delete" class="myButton" />
                                    <input id="btnCancelDataRoaming" type="button" value="Cancel" class="myButton" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div align="center">
                        <div id="grdDataRoaming">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rptAnalyzeBill" style="display: none">
        <script id="trr" type="text/x-jsrender">
            <tr>
                <td style="width:15%;text-align:center;">{{:TransType}}</td>
                <td style="width:10%;text-align:center;">{{:CallTime}}</td>
                <td style="width:10%;text-align:center;">{{:CallDate}}</td>
                <td style="width:25%;text-align:center;">{{:Description}}</td>
                <td style="width:10%;text-align:center;">{{:Duration}}</td>
                <td style="width:15%;text-align:center;">{{:CallType}}</td>
                <td style="width:10%;text-align:center;">{{:Amount}}</td>
            </tr>
        </script>
        <script id="trrb" type="text/x-jsrender">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="width:15%;text-align:center;font-weight:bold;border-bottom:1pt solid black;border-top:1pt solid black">{{:tot}}</td>
            </tr>
        </script>
        <script id="trrg" type="text/x-jsrender">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="width:15%;text-align:center;font-weight:bold;border-bottom:1pt solid black;border-top:1pt solid black">{{:GTot}}</td>
            </tr>
        </script>
        <div id="finalHtml">
            <table id="myBillTable" style="height: auto">
            </table>
        </div>
        <div id="finalHtmlArc">
            <table id="myBillTableArc" style="height: auto">
            </table>
        </div>
        <script id="thh" type="text/x-jsrender">
            <tr>
                <td style="width:15%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Transaction Type</td>
                <td style="width:10%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Subscrb No.</td>
                <td style="width:10%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Call Date</td>
                <td style="width:25%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Description</td>
                <td style="width:10%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Duration</td>
                <td style="width:15%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Call Type</td>
                <td style="width:10%;font-weight:bold;border-bottom:1pt solid black;text-align:center;">Amount</td>
            </tr>
        </script>
    </div>
    <div id="loading">
    </div>
    <div id="loaderDiv">
        <div class="loader">Loading...</div>
    </div>

    <script src="../../Scripts/myJS.js" type="text/javascript"></script>
    <script id="archead" type="text/x-jsrender">
        <style>
            .myRedCell {
                color: black;
            }
        </style>
        <table border="5" style="width:100%;border-spacing: 1;">
            <tr>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Employee Name</td>
                <td style="font-weight:bold;">{{:EMPLOYEENAME}}</td>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Mobile Number</td>
                <td style="font-weight:bold;">{{:MOBILENO}}</td>

            </tr>

            <tr>

                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Provider</td>
                <td style="font-weight:bold;">{{:PROVIDER}}</td>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Bill Month</td>
                <td style="font-weight:bold;">{{:BILLDATE}}</td>
            </tr>


            <tr>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Last Updated</td>
                <td style="font-weight:bold;">{{:LASTUPDATEDON}}</td>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Comments</td>
                <td style="font-weight:bold;">{{:COMMENTS}}</td>

            </tr>

            <tr>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Bill Status</td>
                <td style="font-weight:bold;">{{:STATUS}}</td>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Bill Amount</td>
                <td style="font-weight:bold;">{{:TOTALAMOUNT}}</td>


            </tr>
            <tr>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Allowance Limit</td>
                <td style="font-weight:bold;">{{:MONTHLYLIMIT}}</td>

                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Business Limit</td>
                <td style="font-weight:bold;">{{:BUSSINESSLIMIT}}</td>
            </tr>

            <tr>

                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Allowance Charges</td>
                <td style="font-weight:bold;">{{:PERSONALLIMITCHARGES}}</td>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Business Charges</td>
                <td style="font-weight:bold;">{{:BUSINESSCHARGES}}</td>
            </tr>

            <tr>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Personal Charges</td>
                <td style="font-weight:bold;">{{:PERSONALCHARGES}}</td>

                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Waiver Amount</td>
                <td style="font-weight:bold;">{{:WAIVERAMOUNT}}</td>
            </tr>
            <tr>
                <td class="myRedCell" style="font-weight:normal; text-align: right; padding: 5px">Deductable Amount</td>
                <td colspan="3" style="font-weight:bold;">{{:DEDUCTIBLEAMOUNT}}</td>
            </tr>
        </table>
    </script>

</body>
</html>
